h1 KenzieGram
    form(method='POST' action='/upload' enctype='multipart/form-data' id='uploadTool')
        div
            label(for='newPhoto') Upload a Photo:
            input(type='submit' id='uploadButton') Upload!
div(id='photoGallery')
    ${images(items)}