doctype
html
    h1 KenzieGram
        form(method='POST' action='/upload' enctype='multipart/form-data' id='uploadTool')
            div
                label(for='newPhoto') Upload a Photo:
                input(type='file' id='newPhoto' name='newPhoto' accept='image/*')
            button(type='submit' id='uploadButton') Upload!
    div(id='photoGallery')
        each val in items
            img(src=val width='300px')